.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.contato a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.contato a:hover {
  color: var(--cor-d1);
}

@media (max-width: 500px) {
  .footer {
    padding: 15px;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .contato .section-body p {
    word-break: break-all;
  }
}
