.post-container {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  align-items: center;
}

.post-container img {
  width: 300px;
}

.post-data {
  margin-bottom: 20px;
}

.post-meta-info a {
  text-decoration: none;
}

.post-meta-info h1 {
  transition: 0.2s;
}

.post-meta-info h1:hover {
  color: var(--cor-d1);
}

@media (max-width: 600px) {
  .post-container {
    flex-direction: column;
    gap: 10px;
  }
  .post-img-destaque {
    width: 100%;
  }

  .post-container img {
    width: 100%;
  }
}
